*{
    padding: 0;
    margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#cabecera{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    & img{
        height: 100px;
        width: 100px;
    }
    & .sub-encabezado{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
    & nav{
        font-size: 15px;
        align-items: center;
        width: 50%;
        & ul{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items:center;
            list-style-type: none;
            color: white;  
            & li{           
                font-weight: bold;
                transition: transform 0.3s;
            }
        }
    }
    
}

#sub{
    width: 100%;
    text-align: center;
    background-color: white;
    font-weight: bold;
    border: none; /* Quitar bordes */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    & nav{
    height: 30px;
       & ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin-top: 10px;
        & li{
            font-weight:500;
            color: black; /* Establece el color del texto en blanco */
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
       }
    }
}


li:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

@keyframes desplazar-izquierda {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}




#piePagina {
    padding-top: 15px;
    text-align:center;
    background: #000;
    height: 200px; /* Aumenta la altura del footer */
    width: 100%;
    color: white;
    & a {
        text-decoration: none;
        color: white;
        margin: 10px;
    }
    & h2 {
        margin: 10px;
        font-size: medium;
    }
}


#contenido {
    height:600px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    & button{
        border: 1px;
        border-radius: 3px;
        height: 35px;
        width: 60px;
        background-color:green;
        color: white;
        font-weight: bold;
    }
}

#lupa{
    height: 100px;
    width: 100px;
}

#imagen-en-movimiento{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 700px;
    width: 90%;
    border-radius: 5px;
           
}

.sub-contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonLogin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        height: 30px;
        width: 30px;
    }
  }