/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilo para el contenedor principal */
  .container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: justify;
  }
  
  /* Estilo para el formulario */
  #formulario {
    width: 90%;
  }
  
  /* Estilo para el título "Iniciar Sesión" */
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Estilo para las etiquetas y campos de entrada */
  .form-label {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: left;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para el mensaje de error */
  #errorMensaje {
    text-align: center;
    color: red;
    margin-top: 10px;
  }
  
  /* Estilo para el contenedor de botones */
  .position {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para los botones y enlaces */
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
  }
  