body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #1a237e;
    color: #fff;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 28px;
}

#formularioProductos {
    background-color: #eceff1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1976d2;
    color: #fff;
    padding: 12px 24px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #1565c0;
}

#mensaje {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 16px;
}

#tablaProductos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tablaProductos th, #tablaProductos td {
    border: 2px solid #ccc;
    padding: 14px;
    text-align: left;
}

#tablaProductos th {
    background-color: #1a237e;
    color: #fff;
}

#tablaProductos tr:nth-child(even) {
    background-color: #c5cae9;
}

#sidebar {
    float: left;
    width: 200px;
    background-color: #1a237e;
    color: #fff;
    padding: 20px;
    border-right: 2px solid #3949ab;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 12px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#content {
    float: right;
    width: calc(100% - 220px);
    padding: 20px;
}

#limpia {
    background-color: #cfd8dc;
    color: #333;
}

.custom-button {
    position: absolute;
    left: 30px;
    background-color: #1976d2;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border: 2px solid #1565c0;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #1565c0;
}



