*{
    padding: 0;
    margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#cabecera{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    & img{
        height: 100px;
        width: 100px;
    }
    & .sub-encabezado{
        display: flex;
        text-align: center;
        font-size: 15px;
    }
    & nav{
        font-size: 15px;
        align-items: center;
        width: 50%;
        & ul{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items:center;
            list-style-type: none;
            color: white;  
            & li{           
                font-weight: bold;
                transition: transform 0.3s;
            }
        }
    }
    
}

#sub{
    width: 100%;
    text-align: center;
    background-color: white;
    font-weight: bold;
    border: none; /* Quitar bordes */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    & nav{
    height: 30px;
       & ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin-top: 10px;
        & li{
            font-weight:500;
            color: black; /* Establece el color del texto en blanco */
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
       }
    }
}


li:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}



#piePagina {
    padding-top: 15px;
    text-align:center;
    background: #000;
    height: 10%; /* Aumenta la altura del footer */
    width: 100%;
    color: white;
    & a {
        text-decoration: none;
        color: white;
        margin: 10px;
    }
    & h2 {
        margin: 10px;
        font-size: medium;
    }
}



#contenido{
    height: auto;
    width: 70%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    background-color:whitesmoke;
    & header{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        height: auto;
        margin: 10px;
        color: black;
        & h2{
            margin: 10px;
            font-weight: bold;
        }
    }
}

#secciones{
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    & .caja1{
        text-align: center;
        width: 300px;
        margin: 10px;
        border-radius: 10px;
        background-color:white;
        border: 1px solid black;
        & img{
            width: 125px;
            height: 125px;
            padding: 5px;
            justify-items: center;

        }
    }
}
.sub-contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonLogin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        height: 30px;
        width: 30px;
    }
  }

  